
<div class="footer nav-bg p-4 shadow mt-5">
    <div class="container d-flex justify-content-start align-items-baseline">
       
           
                <h3 class="text-uppercase fst-italic font-monospace text-decoration-underline text-warning">Trade To Cart</h3>

    
             <p class="text-dark ps-4 fw-bold">© Trade to cart, 2023. All rights reserved.</p>

       
            
      

    </div>
   
</div>