<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Trade Cart</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicon -->
  <link href="img/favicon.ico" rel="icon">

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">


  <!-- Customized Bootstrap Stylesheet -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Template Stylesheet -->
  <link href="/css/style.css" rel="stylesheet">
</head>

<body>
  <div class="container-xxl position-relative bg-white d-flex p-0">


    <!-- Sign Up Start -->
    <div class="container-fluid">
      <form class="form" action="/register" method="post" novalidate>


        <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
          <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
              <div class="d-flex align-items-center justify-content-between mb-3">

                <h3 class="text-primary">Trade Cart</h3>

                <h3>Sign Up</h3>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingText" placeholder="jhondoe" name="name">
                <label for="floatingText">Full Name</label>
                <% if(errors && errors.name){ %>
                  <span class="text-danger"><%= errors.name.msg %></span>
                <% } %>
              </div>
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
                <label for="floatingInput">Email</label>
                <% if(errors && errors.email){ %>
                  <span class="text-danger"><%= errors.email.msg %></span>
                <% } %>
              </div>
              <div class="form-floating mb-4">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
                <label for="floatingPassword">Password</label>
                <% if(errors && errors.password){ %>
                  <span class="text-danger"><%= errors.password.msg %></span>
                <% } %>
              </div>
              <div class="form-floating mb-4">
                <input type="password" class="form-control" id="floatingConfirmPassword" placeholder="Confirm Password" name="confirm_password">
                <label for="floatingConfirmPassword">Confirm Password</label>
                <% if(errors && errors.confirm_password){ %>
                  <% console.log(errors) %>
                  <span class="text-danger"><%= errors.confirm_password.msg %></span>
                <% } %>
              </div>

              <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Sign Up</button>
              <p class="text-center mb-0">Already have an Account? <a href="/login">Sign In</a></p>
              <p class="text-center mb-0"> <a href="/">Back To Home</a></p>

            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- Sign Up End -->
  </div>



</body>

</html>